repository hackage.haskell.org
  url: http://hackage.haskell.org/

nix: True
remote-repo-cache: /home/kevin/.local/share/cabal/packages
world-file: /home/kevin/.local/share/cabal/world
extra-prog-path: /home/kevin/.local/share/cabal/bin
build-summary: /home/kevin/.local/share/cabal/logs/build.log
remote-build-reporting: anonymous
jobs: $ncpus
installdir: /home/kevin/.local/share/cabal/bin

init
  interactive: True
